{
  "CN": "{{ CERT_KUBERNETES_CSR_CN }}",
  "hosts": [
  {% for host in groups['etcd'] %}
  "{{ hostvars[host]['ip'] }}",
  {% endfor %}
  "127.0.0.1",
    "kubernetes.default"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ CERT_C }}",
      "L": "{{ CERT_L }}",
      "O": "{{ CERT_CA_CSR_O }}",
      "OU": "{{ CERT_KUBERNETES_CSR_OU }}",
      "ST": "{{ CERT_ST }}"
    }
  ]
}
